* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header .dc-power {
  height: 20px;
  width: 100%;
  background-color: #006eff;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  list-style-type: none;
}
header ul li {
  padding: 15px;
}
header ul li img {
  width: 60%;
}
header ul li a {
  text-decoration: none;
}

main {
  text-transform: uppercase;
}
main .jumbotron {
  background-image: url(/images/jumbotron.jpg);
  height: 300px;
  background-size: cover;
}
main .cards-container {
  background-color: #1b191f;
  padding: 50px 0;
  position: relative;
}
main .comic-wrapper {
  width: 80%;
  margin: auto;
}
main .comic-wrapper .blue-bg {
  background-color: #006eff;
  color: white;
  border: none;
}
main .comic-wrapper .curr-series {
  width: 235px;
  padding: 10px 20px;
  font-size: 25px;
  position: absolute;
  top: -25px;
}
main .comic-wrapper .my_btn-container {
  padding-top: 30px;
  text-align: center;
}
main .comic-wrapper .my_btn-container .my_btn {
  padding: 5px 50px;
  text-transform: uppercase;
  font-weight: bold;
}
main .comic-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
main .comic-wrapper ul a {
  text-decoration: none;
  color: white;
}
main .comic-wrapper ul a .single-comic {
  width: 180px;
  padding: 10px;
}
main .comic-wrapper ul a .single-comic .thumb {
  height: 180px;
}
main .comic-wrapper ul a .single-comic .thumb img {
  width: 160px;
  height: 180px;
  background-size: cover;
}