.blue-banner{
    height: 60px;
    background-color: $main-color;
}
.comic-container{
    width: 50%;
    margin: auto;
    padding-bottom: 50px;

    .comic-img-wrapper{
        position: relative;

        img{
            position: absolute;
            top: -230px;
            width: 20%;
            border: 1px solid white;
        }
    }
}

.comic-info-wrapper{
    display: flex;
    padding-top: 50px;

    .comic-info{
        padding-right: 50px;

        p{
            color: rgb(128, 126, 126);
        }
        .availability-wrapper{
            margin: 25px 0 20px;
            padding: 10px 0;
            background-color: rgb(0, 201, 0);
            color: white;
            border-bottom: 1px solid black;

            span{
                padding: 10px;
            }
            span:nth-child(2){
                padding-left: 130px;
                border-right: 1px solid black;
                text-transform: uppercase;
            }
        }
    }
    .advert-wrapper{
        text-align: right;
        width: 30%;
        h4{
            color: rgb(128, 126, 126);
            text-transform: uppercase;
            font-weight: 400;
        }
        img{
            width: 180px;
        }
    }
}
.info-container{

    padding-top: 30px;
    background-color: rgba(211, 211, 211, 0.486);
    border-top: 1px solid rgb(163, 163, 163);

    h3{
        padding-bottom: 30px;
    }
    hr{
        border: none;
        height: 1px;
        background-color: rgb(163, 163, 163);
    }
    .info-wrapper{
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;

        .talent{
            width: 50%;
            padding-right: 20px;
        }
        .specs{
            width: 50%;
        }
        .my_between{
            display: flex;

            .info{
                color: $main-color;
                font-size: 12px;
                padding: 5px 0;
            }
            .title{
                font-size: 12px;
                width: 400px;
                padding: 5px 0;
            }
        }
    }
}