header{
    .dc-power{
        height: 20px;
        width: 100%;
        background-color: $main-color;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;

        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        list-style-type: none;
        li{
            img{
                width: 60%;
            }
            padding: 15px;
            a{
                text-decoration: none;
            }
        }
    }
}